@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 4rem;
  padding: 15px 20px 0 20px;
  box-shadow: rgb(50 50 93 / 15%) 0 4px 6px -2px;
  background-color: var(--color-2);
  color: #fff;
  margin: auto auto;
}

.backBtn {
  color: #fff;
}

.shopName {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.6rem;
}
/* .Lefticons{
  display: flex;
  gap : 30px;
}  */

.carticon{
  background: none;
  border: none;
  color: white;
  z-index: 9;
}

.carticon:hover{
  cursor: pointer;
  
}

.counter{
  z-index: 3;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #c11515;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -35px;
  /* margin-right: 10px; */
  padding-right: 2px;
font-size: 10px;
}