.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  gap: 0.3rem;
  margin-top: 5%;
}

.searchInput {
  padding: 0.4rem 0.6rem;
  border-radius: 20px;
  outline: none;
  border: none;
  text-align: center;
  font-style: italic;
}

.searchBtn {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}

.itemsSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  padding: 7% 4%;
}

.notfoundimg{
    filter: brightness(1.5);
    width: 120px;
}

.notfoundimgDiv{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 92vw;
}

/* styles.module.css */

.paginationParent {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination button {
  background-color: white;
  border: 1px;
  border-radius: 10px;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0 4px;
  margin-bottom: 10px;
}

.pagination button:hover {
  background-color: rgb(214, 214, 214);
}


.paginationParent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .searchBar {
    margin-top: 3%;
    margin-left: 0;
  }

  .searchInput {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
  }

  .searchBtn {
    font-size: 1.4rem;
  }

  .itemsSection {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 7% 4%;
  }
}
